<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Modern Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
        <!-- Core theme CSS (includes Bootstrap)-->
		<link href="donatepage.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Team Members Section-->
        <section class="py-5 bg-light">
            <div class="container">
                <h2 class="mb-4">Here Are Some Homeless Shelters You can Donate To</h2>
                <div class="row">
					<div class="col-lg-4 mb-4 mb-lg-0">
                        <div class="card h-100 text-center">
                            <img class="card-img-top" src="hope.jpg" alt="..." />
                            <div class="card-body">
                                <h4 class="card-title">Window of Hope</h4>
                                <h6 class="card-subtitle mb-2 text-muted">KwaZulu-Natal</h6>
                                <p class="card-text">The Window of Hope Program focuses on two types of groups: orphans and less privileged children; and the destitute and homeless The aim is to assist through giving out food hampers, clothes and blankets which the above mentioned groups lack and are in desperate need of. The program targets to reach at least an average of 100 different people every month (25 people per week) for the next 24 months (2 years) in Durban which will amount to a total of 2400 heads that the program would have helped.</p>
                            </div>
                            <div class="card-footer"><a href="http://newlifeshelter.net/">newlifeshelter.net</a></div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <div class="card h-100 text-center">
                            <img class="card-img-top" src="haveno.jpg" alt="..." />
                            <div class="card-body">
                                <h4 class="card-title">The Haven Night shelter</h4>
                                <h6 class="card-subtitle mb-2 text-muted">Western Cape</h6>
                                <p class="card-text">The Haven Night Shelter was established in 1978 in Cape Town, South Africa. We were registered as a Section 21 (a) (Not for Gain) Public Company in 1983, a Non Profit Organisation in 2000, and as a Public Benefit Organisation in 2004.</p>
                            </div>
                            <div class="card-footer"><a href="https://www.payfast.co.za/donate/go/thehavennightshelterwelfareorganisation">thehavennightshelterwelfareorganisation.co.za</a></div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card h-100 text-center">
                            <img class="card-img-top" src="fridahart.jpg" alt="..." />
                            <div class="card-body">
                                <h4 class="card-title">Frida Hartley Organisation</h4>
                                <h6 class="card-subtitle mb-2 text-muted">Gauteng</h6>
                                <p class="card-text">The Frida Hartley Shelter (FHS) for destitute women and children in Yeoville, Johannesburg, takes in homeless women and their children who have endured neglect, abuse, trauma and homelessness. We shelter individuals who have lost their jobs and are struggling to make ends meet; young homeless mothers looking to kick-start their lives; and individuals going through financial difficulties (affected by retrenchment or unemployment).

​								</p>
                            </div>
                            <div class="card-footer"><a href="https://www.payfast.co.za/donate/go/fridahartleyshelterforwomen">fridahartleyshelterforwomen.co.za</a></div>
                        </div>
					 </div><br>
                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <div class="card h-100 text-center">
                            <img class="card-img-top" src="homelesssolution.jpg" alt="..." />
                            <div class="card-body">
                                <h4 class="card-title">Homeless Solutios</h4>
                                <h6 class="card-subtitle mb-2 text-muted">Gauteng</h6>
                                <p class="card-text">Dear friend, we would like to welcome you to Homeless Solutions as a Steward for ACTION. Provided you welcome the invitation, what this entails is that you will be providing our organization with your time and expertise in terms of Knowledge, spirituality and resources support for the well-being of our beneficiaries as whole. Help us build a culture of love, stability and discipline. Only with your involvement and support, can we be able to do it all, and believe that all is possible.</p>
                            </div>
                            <div class="card-footer"><a href="https://gogetfunding.com/homeless-solutions/">homelesssolutions.co.za</a></div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <div class="card h-100 text-center">
                            <img class="card-img-top" src="helpingthose.jpg" alt="..." />
                            <div class="card-body">
                                <h4 class="card-title">Helping Those In Need</h4>
                                <h6 class="card-subtitle mb-2 text-muted">Eastern Cape</h6>
                                <p class="card-text">This NPO was started by a couple in January 2017 and is called “Helping Those In Need". They feed numerous families and the homeless alongside fostering abused & abandoned children.</p>
                            </div>
                            <div class="card-footer"><a href="https://www.paypal.com/donate/?token=m23lM6S_svAAS-czuMljz_tJZKr0DoJL2Tng9d10k-V4_bh-0rHAJsK10pVmWsjV51zwjK4_IvE7Fiep&locale.x=EN_US">helpingthoseineed.co.za</a></div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card h-100 text-center">
                            <img class="card-img-top" src="salvationarmy.jpg" alt="..." />
                            <div class="card-body">
                                <h4 class="card-title">Salvation Army</h4>
                                <h6 class="card-subtitle mb-2 text-muted">Mpumalanga</h6>
                                <p class="card-text">The Salvation Army has an active and vibrant outreach, whether through its faith communities or its community work. Thousands of people – ranging in age from new-born to the elderly – depend on the outreach of The Salvation Army, through soup kitchens, homes for children, rehabilitation centres, or home-based care for the sick and elderly, to mention some of the ways in which we care for people. Without the support of The Salvation Army, life would be that much more difficult and sometimes unbearable for many of them.</p>
                            </div>
                            <div class="card-footer"><a href="https://www.givengain.com/d/c/2443#amount">salvationarmy.co.za</a></div>
                        </div>
					
                        
                   
					
					
                        
                    </div>
                </div>
            </div>
			
        </section>
        <hr class="my-0" />
       
    </body>
</html>
