<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<title>Information Page</title>
		<link rel="icon" type="image/png" href="/images/logo.png" />
		<script
			src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
			crossorigin="anonymous"
		></script>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
			rel="stylesheet"
		/>
		<link href="/stylesheets/info.css" rel="stylesheet" />
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark">
			<div class="container">
				<img
					src="/images/logo.png"
					style="
						height: 50px;
						width: 50px;
						border-radius: 50px;
						margin-right: 10px;
					"
				/>
				<a class="navbar-brand" href="/">Shelter Mission</a>
				<button
					class="navbar-toggler navbar-toggler-right"
					type="button"
					data-toggle="collapse"
					data-target="#navbarResponsive"
					aria-controls="navbarResponsive"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="/donate">Donate</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/info">Information</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/map">Map</a>
						</li>
						<li class="nav-item dropdown">
							<a
								class="nav-link dropdown-toggle"
								id="navbarDropdownBlog"
								href="#"
								data-toggle="dropdown"
								aria-haspopup="true"
								aria-expanded="false"
								><%= emailAddress %></a
							>
							<div
								class="dropdown-menu dropdown-menu-right"
								aria-labelledby="navbarDropdownBlog"
							>
								<a class="dropdown-item" href="/logout"
									>Logout</a
								>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<section class="py-5">
			<div class="container">
				<h1 class="mb-4 display-4 text-center">
					Articles about homelessness and homeless shelters
				</h1>
				<div class="card mb-4">
					<div class="card-body">
						<div class="row">
							<div class="col-lg-6">
								<a href="#!"
									><img
										class="img-fluid rounded"
										src="images/img1.jpg"
										style="width: 600px; height: 350px"
										alt="https://www.google.com/imgres?imgurl=https%3A%2F%2Fimage.shutterstock.com%2Fimage-photo%2Fmen-lying-on-beds-homeless-260nw-184903469.jpg&imgrefurl=https%3A%2F%2Fwww.shutterstock.com%2Fsearch%2Fhomeless%2Bshelter&tbnid=KcNs8-QkzGpsfM&vet=12ahUKEwjegfeI--zwAhVL_IUKHVvfBD4QMygJegUIARDfAQ..i&docid=XWn6ixL_ptcSyM&w=390&h=280&q=homeless%20shelter%20stock%20images&ved=2ahUKEwjegfeI--zwAhVL_IUKHVvfBD4QMygJegUIARDfAQ"
								/></a>
							</div>
							<div class="col-lg-6">
								<h2 class="card-title">
									Homelessness in South Africa
								</h2>
								<p class="card-text">
									Homelessness in South Africa is mostly
									caused by a severe housing shortage, 28
									percent unemployment, and urbanization (CIA,
									2017). In 2015, there were 200,000 homeless
									individuals on the streets alone, and
									tremendous inequality prevailed, with around
									79 percent of the population living in
									poverty (DW, 2019).
								</p>
								<a
									class="btn btn-primary"
									href="http://www.scielo.org.za/pdf/hts/v76n1/04.pdf"
								>
									Read More
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="card mb-4">
					<div class="card-body">
						<div class="row">
							<div class="col-lg-6">
								<a href="#!"
									><img
										class="img-fluid rounded"
										src="images/frida.jpg"
										style="width: 600px; height: 350px"
										alt="..."
								/></a>
							</div>
							<div class="col-lg-6">
								<h2 class="card-title">
									Being A Child Born From The Streets
								</h2>
								<p class="card-text">
									The children's internal motives and
									expectations, as well as their assessments
									of costs and rewards, were the primary
									causes driving them to the streets.
									Regardless, Although many service providers
									sympathized with street children, many saw
									them as deviants, delinquents, future
									criminals, and a public nuisance. For
									example, service providers tended to
									recommend safe havens and vocational
									schools. their upkeep
								</p>
								<a
									class="btn btn-primary"
									href="http://www.scielo.org.za/pdf/hts/v76n1/04.pdf"
									>Read More</a
								>
							</div>
						</div>
					</div>
				</div>
				<div class="card mb-4">
					<div class="card-body">
						<div class="row">
							<div class="col-lg-6">
								<a href="#!"
									><img
										class="img-fluid rounded"
										src="images/img2.jpg"
										style="width: 600px; height: 350px"
										alt="..."
								/></a>
							</div>
							<div class="col-lg-6">
								<h2 class="card-title">
									Why Not Help Where We Can?
								</h2>
								<p class="card-text">
									For the homeless in South Africa, life on
									the streets is a regular daily battle.
									According to Naidoo (2010:131), street
									homeless people were found living on the
									streets, in public restrooms, or under
									bridges because they lacked a permanent
									residence. The homeless on the streets have
									a difficult time storing their stuff, even
									food. For the homeless on the streets,
									finding food and a place to sleep is a
									continual struggle (Thexton 2014:6). As a
									result, some homeless people on the street
									shuffle their things from place to place in
									search of work, food, or a place to stay.
								</p>
								<a
									class="btn btn-primary"
									href="https://www.un.org/development/desa/dspd/wp-content/uploads/sites/22/2019/05/OBIOHA_Emeka_Paper-1.pdf"
									>Read More</a
								>
							</div>
						</div>
					</div>
				</div>
				<div class="card mb-4">
					<div class="card-body">
						<div class="row">
							<div class="col-lg-6">
								<a href="#!"
									><img
										class="img-fluid rounded"
										src="images/img3.jpg"
										style="width: 600px; height: 350px"
										alt="..."
								/></a>
							</div>
							<div class="col-lg-6">
								<h2 class="card-title">
									It Can Happen To Anyone
								</h2>
								<p class="card-text">
									The phenomenon of street homelessness is
									multifaceted and resists simple
									classifications (De Beer 2015:2; Roets et
									al. 2016:624; Sanchez 2010:102; Somerville
									2013:384). Street homelessness is a visible
									representation of being without shelter, and
									it can take many forms (Naidoo 2010:129).
								</p>
								<a
									class="btn btn-primary"
									onclick="location.href='http://www.scielo.org.za/scielo.php?script=sci_arttext&pid=S0259-94222020000100004';"
									>Read More</a
								>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr class="my-0" />

			<section class="py-5">
				<div class="container">
					<h1 class="mb-4 display-4 text-center">
						Get More Insight About Homelessness And Homeless
						Shelters
					</h1>
					<div class="row">
						<div class="col-lg-6 mb-3">
							<div
								class="embed-responsive embed-responsive-16by9"
							>
								<iframe
									class="embed-responsive-item"
									src="https://www.youtube.com/embed/21G98xWA6qE"
									title="YouTube video player"
									frameborder="0"
									allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
									allowfullscreen
								></iframe>
							</div>
						</div>
						<div class="col-lg-6">
							<div
								class="embed-responsive embed-responsive-16by9"
							>
								<iframe
									class="embed-responsive-item"
									src="https://www.youtube.com/embed/50suMC4G7d4"
									title="YouTube video player"
									frameborder="0"
									allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
									allowfullscreen
								></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
		</section>
		<footer class="py-5">
			<div class="container">
				<p class="m-0 text-center text-white">
					Copyright &copy; Shelter Mission 2021
				</p>
			</div>
		</footer>

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
