<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
			rel="stylesheet"
		/>
        <link rel="stylesheet" href="resetpassword.css" />
</head>
<body>
    <div class="container">
        <div class="card">
            <h3 class="text-center">Reset Password</h3>
            <form method="post" action= "/ResetPassword">
                <input placeholder="Enter new Password" type="text" name="password">
                <input placeholder="Confirm new Password" type="text" name="password"> 
                <input class="Reset_button" type="submit" value="Reset my password">    
            </form>
        </div> 
    </div>
</body>
</html
