.body-container {
	width: 1024px;
	margin: 100px auto;
}

.card {
	background-color: rgba(255, 255, 255, 0.7);
	width: 450px;
	margin: 100px auto;
	padding: 50px 25px;
	-webkit-box-shadow: -1px 9px 27px 5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 9px 27px 5px rgba(0, 0, 0, 0.75);
	box-shadow: -1px 9px 27px 5px rgba(0, 0, 0, 0.75);
}

.navbar,
footer {
	background-color: #4e598c;
}
body {
	background-color: #edf2f4;
}

h1,
h2 {
	text-align: center;
}
